<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="VegData.DataAccess.Provider.Properties.Settings.ConnPath"
        connectionString="Data Source=DEVMACHINE\TESTSQL;Initial Catalog=VegData;Persist Security Info=True;User ID=sa;Password=Emimusic@123"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
