body {
    font-family:'Lato';

  /*min-height: 2000px;*/
  padding-top: 70px;
  /*color:white;*/
  /*background-color:rgb(88, 100, 88);*/
  background-color:rgb(110, 137, 150);
}

/*box-shadow*/
navbar-default
{
    background-color: rgb(88, 226, 88);/*rgb(56, 196, 247);*/
}
.navbar
{
    /*background-image: linear-gradient(to bottom, rgb(56, 196, 231) 0px, rgb(56, 200, 232) 49%);*/
        background: rgb(88, 226, 88);
}
}


.navbar-default .navbar-brand {
      color:white;
}

a {
   color:white;
    
}
.navbar-default .navbar-nav > li > a
{
    color:white;
}
.dropdown-menu > li > a:hover
{
background-color: rgb(88, 226, 88);
background-image:none;
}
.form-control
{
    border-radius:0px;
}

a.thumbnail:hover, a.thumbnail:focus
{
    border-color:rgb(88, 226, 88);
}
.table tbody > tr > td
{
    border-top:0px;
}
.thumbnail
{
     border-radius:0px;
     background:rgb(249,249,249);
     /*border-bottom:2px solid rgb(88,226,88);*/
}
h3
{
    font-family:'Lato';
}

/*.col-md-3 {
    width: 18%;
}*/
.navbar-nav > li > .dropdown-menu
{
    border-radius:0px;
}
.label
{
    font-weight: normal;
    border-radius:0px;
}
.col-md-3 {
    width: 18%;
}

.thumbnail
{
    margin-right: 5px;
    margin-left: 3px;
    margin-top: 6px;
}

.col-sm-6,.col-md-3{
padding-right: 0px;
padding-left: 5px;
padding-bottom: 8px;
}

.thumbnail .caption
{
    padding: 0px;
    margin-top: -19px;
}
.label
{
    font-size: 100%;
}

a:hover, a:focus
{
    color: White;
    text-decoration: none;
    font-size: 15px;
}
.panel-default > .panel-heading {
   color: rgb(255, 255, 255);
    background-color: rgb(110, 100, 219);
    border-color: rgb(110, 100,110);
    font-size: 22px;
text-align: center;
}

.panel-default > .panel-heading {
    background-image: none;
    background-repeat:no-repeat;
    /*background-color:rgb(95, 130, 229);*/
    background-color: rgb(197,0, 0);
}